.wrapper__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    display: block;
  }
}

.custom__wrapper {
  padding: 56px 103px 70px 100px;
  color: $color-default-white;
  background: #102654;

  @include vp-1199 {
    padding-top: 54px;
    padding-left: calc((129 / 768) * 100) + 0%;
    padding-bottom: 70px;
    padding-right: calc((100 / 768) * 100) + 0%;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-left: $padding-mbl;
    padding-bottom: 70px;
    padding-right: $padding-mbl;
  }
}

.custom__wrapper h2 {
  font-family: $ff-as;
  font-size: 3.38em;
  font-style: normal;
  font-weight: 800;
  margin: 0;
  padding-bottom: 17px;
  letter-spacing: 2.62px;
  line-height: 156%;

  @include vp-1199 {
    font-size: 2.63em;
    letter-spacing: 1.26px;
    padding-bottom: 29px;
  }

  @include vp-767 {
    font-size: 2em;
    letter-spacing: 0.96px;
    padding-bottom: 29px;
  }
}

.custom__intro {
  display: flex;
  gap: calc((60 / 1200) * 100) + 0%;

  @include vp-767 {
    flex-direction: column;
    row-gap: 31px;
  }
}

.custom__buttom {
  font-family: $ff-rc;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  width: 409px;
  height: 52px;
  color: $color-default-white;
  border: 2px solid $color-default-white;
  background: #102654;
  margin-top: 30px;

  @include vp-1199 {
    width: 472px;
  }

  @include vp-767 {
    width: 290px;
    margin-top: 41px;
  }
}

.custom-input {
  position: relative;
  display: flex;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.custom-input.is-invalid {
  border-bottom: 1px solid #ff121f;
}

.custom-input input {
  font-family: $ff-rc;
  width: 192px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: #102654;
  padding-bottom: 5px;
  color: $color-default-white;

  @include hover {
    border-bottom: 1px solid $color-default-white;
  }

  &.active {
    border: 1px solid $color-default-white;
  }

  &.disabled {
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  }
}

.input-message {
  position: absolute;
  font-size: 10px;
  bottom: -24px;

  &.is-invalid {
    color: #ff0000;
  }

  &.is-valid {
    color: #15ab07;
  }
}

::placeholder {
  font-family: $ff-rc;
  color: $color-default-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &.disabled {
    color: rgb(255, 255, 255, 0.4);
  }
}
