.wrapper__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    display: block;
  }
}

.custom__wrapper {
  padding: 56px 103px 70px 100px;
  color: $color-default-white;
  background: #102654;

  @include vp-1199 {
    padding-top: 54px;
    padding-left: calc((129 / 768) * 100) + 0%;
    padding-bottom: 70px;
    padding-right: calc((100 / 768) * 100) + 0%;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-left: $padding-mbl;
    padding-bottom: 70px;
    padding-right: $padding-mbl;
  }
}

.custom__wrapper h2 {
  font-family: $ff-as;
  font-size: 3.375em;
  font-style: normal;
  font-weight: 800;
  margin: 0;
  padding-bottom: 17px;
  letter-spacing: 2.62px;
  line-height: 156%;

  @include vp-1199 {
    font-size: 2.625em;
    letter-spacing: 1.26px;
    padding-bottom: 29px;
  }

  @include vp-767 {
    font-size: 2em;
    letter-spacing: 0.96px;
    padding-bottom: 29px;
  }
}

.custom__buttom {
  font-family: $ff-rc;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  width: 409px;
  height: 52px;
  color: $color-default-white;
  border: 2px solid $color-default-white;
  background: #102654;
  margin-top: 30px;

  @include vp-1199 {
    width: 472px;
  }

  @include vp-767 {
    width: 290px;
    margin-top: 8px;
  }
}

.input {
  font-family: $ff-rc;
  width: 192px;
  border: none;
  background: #102654;
  border-bottom: 1px solid $color-default-white;
  margin-right: 25px;
  padding-bottom: 5px;

  @include vp-1199 {
    width: 208px;
    margin-right: 56px;
  }

  @include vp-767 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
    padding-bottom: 5px;
  }
}

::placeholder {
  font-family: $ff-rc;
  color: $color-default-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
