.features__wrapper {
  padding-left:calc((123/1200)*100) + 0% ;
  padding-right: calc((123/1200)*100) + 0%;
  padding-top: 108px;
  background: #F8F9FC;
}

.features__title {
  margin: 0;
  color: #102654;
  font-family: $ff-as;
  font-size: 3.375em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  text-align: center;
}

.features__list {
  list-style-type: none;
  display: grid;
  grid-template-areas:
    "b a c"
    "b a c";
  margin: 0;
  padding-top: 21px;
}

.features__item {
  color: #102654;
  font-family: $ff-rc;
  position: relative;
  display: flex;
  gap: calc((105/1200)*100) + 0%;
  padding-top: 5px;
  margin-bottom: 125px;
  position: relative;
}

.features__item--line::after {
  content: "";
  position: absolute;
  border: 2px solid #D10A42;
  top: 185px;
  width: 340px;
  opacity: 0.2;
}

.features__item--rigth {
  padding-left: calc((135/1200)*100) + 0%;
}
.features__text {
  padding-right: calc((65/1200)*100) + 0%;
}

.features__header {
  margin: 0;
  padding-top: 28px;
  font-size: 1.375em;
  font-style: normal;
  font-weight: 700;
}

.features__description {
  margin: 0;
  padding-top: 4px;
  padding-right: calc((26/1200)*100) + 0%;
  font-size: 1em;
  font-style: normal;
}

.feature__number {
  margin: 0;
  padding: 0;
  font-size: 4.4375em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  background: linear-gradient(180deg, #D10A42 0%, #0041CA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.feature__unit {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #2E35AC;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  top: 87px;
}

.features__item--center {
  display: block;
  padding: 0;
  color: $color-default-white;
  background: #1C3374;
  grid-area: a;
  width: 240px;
  height: 307px;
  text-align: center;
  margin-top: calc((184/1200)*100) + 0%;
  margin-left: calc((-65/1200)*100) + 0%;
}

.feature__number-center {
  margin: 0;
  font-size: 4.625em;
  font-style: normal;
  font-weight: 700;
  color: $color-default-white;
  padding: 79px 0 0 0;
}

.features__header--center {
  margin: 0;
  padding: 0;
  font-size: 1.625em;
  font-style: normal;
  font-weight: 700;
  padding-top: 35px;

}

.features__description--center {
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: calc((34/1200)*100) + 0%;
  padding-right: calc((34/1200)*100) + 0%;
  padding-top: 39px;
}

