.footer__wrapper {
  background: #030A1A;
  padding-top: 41px;
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-left: $padding-dst;
  padding-right: $padding-dst;

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    padding-left: $padding-tbl;
    padding-right: $padding-tbl;
    grid-auto-flow: column;

  }

  @include vp-319 {
    padding-left: $padding-mbl;
    padding-right: $padding-mbl;
  }
}


.footer__logo {
  width: 5.5em;
  height: 2em;
  position: relative;

  @mixin vp-1199 {
    width: 5.125em;
    height: 1.125em;
  }

  @include vp-767 {
    width: 4.25em;
    height: 0.9375em;
  }
}

.footer__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-nav__list {
  margin: 0;
  list-style-type: none;
  display:flex;
  justify-content: center;
  gap: 2.5em;

  @include vp-767 {
    display: block
  }
}

.footer-nav__link {
  font-family: Roboto Condensed;
  font-size: 0.875em;
  font-weight: 400;
  line-height: normal;
  padding-top: 8px;
  color: $color-default-white;

  @include vp-767  {
    font-size: 1em;
   }
}

.footer__social-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-left: 2.875em;
}

.footer__social-item {
  background: $color-default-white;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  @include hover {
    background: #103AAE;
  }

  @include active {
    background: #102654;
  }
}

.footer__social-item:disabled {
  opacity: "0.3" ;
}


