.games__wrapper {
  padding-left: $padding-dst;
  padding-right: $padding-dst;
  padding-top: 123px;
  padding-bottom: 109px;
  position: relative;
  display: flex;
  justify-content: center;

  @include vp-1199 {
    padding-left: $padding-tbl;
    padding-right: $padding-tbl;
    padding-top: 98px;
    padding-bottom: 93px;
  }

  @include vp-767 {
    padding-left: $padding-mbl;
    padding-right: $padding-mbl;
    padding-top: 69px;
    padding-bottom: 44px;
    flex-direction: column;
  }
}

.games img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include vp-767 {
    height: 292px;
  }
}

.games__text {
  color: $color-default-white;
  font-family: $ff-rc;
  padding-top: calc((88 / 1200) * 100) + 0%;
  padding-left: calc((55 / 1200) * 100) + 0%;
  padding-bottom: calc((85 / 1200) * 100) + 0%;
  padding-right: calc((79 / 1200) * 100) + 0%;
  background-color: #ed0233;
  position: relative;

  @include vp-1199 {
    padding-top: calc((51 / 768) * 100) + 0%;
    padding-left: calc((45 / 768) * 100) + 0%;
    padding-bottom: calc((95 / 768) * 100) + 0%;
    padding-right: calc((140 / 768) * 100) + 0%;
  }

  @include vp-767 {
    padding-top: calc((51 / 320) * 100) + 0%;
    padding-left: calc((45 /320) * 100) + 0%;
    padding-bottom: calc((160 / 320) * 100) + 0%;
    padding-right: calc((140 / 320) * 100) + 0%;
  }
}

.games__text::after {
  content: "";
  position: absolute;
  border: 1px solid $color-default-white;
  width: 4em;
  top: calc((270 / 1200) * 100) + 0%;
  right: calc((240 / 1200) * 100) + 0%;

  @include vp-1199 {
    width: 2.625em;
  }
}

.games__text::before {
  content: "";
  position: absolute;
  border: 1px solid $color-default-white;
  width: 5.8em;
  top: calc((500 / 1200) * 100) + 0%;
  right: calc((200 / 1200) * 100) + 0%;

  @include vp-1199 {
    width: 3.5em;
    top: calc((316 / 768) * 100) + 0%;
  right: calc((116 / 768) * 100) + 0%;
  }
}

.games__title {
  padding-bottom: calc((105 / 1200) * 100) + 0%;
  padding-right: calc((360 / 1200) * 100) + 0%;
  padding-left: calc((120 / 1200) * 100) + 0%;
  margin: 0;
  font-family: $ff-as;
  font-size: 5.125em;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2.46px;
  line-height: 96%;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 3em;
    letter-spacing: 1.44px;
    padding-top: calc((35 / 768) * 100) + 0%;
    padding-left: calc((73 / 768) * 100) + 0%;
    padding-bottom: calc((43 / 768) * 100) + 0%;
    padding-right: calc((360 / 768) * 100) + 0%;
  }
}

.games__header {
  padding: 0;
  margin: 0;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  padding-bottom: calc((156 / 1200) * 100) + 0%;
  padding-left: calc((75 / 1200) * 100) + 0%;

  @include vp-1199 {
    position: absolute;
    font-size: 0.75em;
    padding: 0;
    left: 43px;
  }
}

.games__dait {
  padding: 0;
  margin: 0;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  top: calc((200 / 1200) * 100) + 0%;
  right: calc((315 / 1200) * 100) + 0%;

  @include vp-1199 {
    font-size: 0.75em;
  }
}

.games__number {
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
  top: calc((300 / 1200) * 100) + 0%;
  right: calc((355 / 1200) * 100) + 0%;

  @include vp-1199 {
    font-size: 1.5em;
    top: calc((185 / 768) * 100) + 0%;
    right: calc((235 / 768) * 100) + 0%;
  }
}

.games__month {
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  top: calc((280 / 1200) * 100) + 0%;
  right: calc((250 / 1200) * 100) + 0%;

  @include vp-1199 {
    font-size: 0.625em;
    top: calc((165 / 768) * 100) + 0%;
    right: calc((155 / 768) * 100) + 0%;
  }
}

.games__year {
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  top: calc((320 / 1200) * 100) + 0%;
  right: calc((270 / 1200) * 100) + 0%;

  @include vp-1199 {
    font-size: 0.625em;
    top: calc((195 / 768) * 100) + 0%;
    right: calc((163 / 768) * 100) + 0%;
  }
}

.games__time {
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  top: calc((420 / 1200) * 100) + 0%;
  right: calc((290 / 1200) * 100) + 0%;

  @include vp-1199 {
    font-size: 0.75em;
    top: calc((250 / 768) * 100) + 0%;
    right: calc((178 / 768) * 100) + 0%;
  }
}

.games__hours {
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
  top: calc((530 / 1200) * 100) + 0%;
  right: calc((185 / 1200) * 100) + 0%;

  @include vp-1199 {
    font-size: 1.5em;

    @include vp-1199 {
      font-size: 1.5em;
      top: calc((325 / 768) * 100) + 0%;
      right: calc((120 / 768) * 100) + 0%;
    }
  }
}

.games__buttom {
  display: block;
    color: #fff;
    width: 28.4375em;
    font-family: "Roboto Condensed","Arial",sans-serif;
    font-size: .75em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .0375em;
    text-transform: uppercase;
    border: 4px solid #fff;
    padding: 23px 63px;
    text-align: center;
    background: #ed0233;
    margin-left: 6.9166666667%;

  @include vp-1199 {
    position: absolute;
    width: 202px;
    padding: 12px 16px;
    margin: 0;
    text-align: center;
    top: calc((525 / 768) * 100) + 0%;;
    left: 43px;
    border: 2px solid $color-default-white;
    letter-spacing: 0;
  }
}
