.gym {
  background-color: $color-default-white;
  color: #102654;
  position: relative;
}

.gym__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 163px;
  padding-right: $padding-dst;
  padding-top: 120px;
  padding-bottom: 235px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-left: $padding-tbl;
    padding-right: $padding-tbl;
    padding-bottom: 35px;
  }

  @include vp-767 {
    padding-top: 22px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 205px;
  }
}

.gym__text {
  padding-top: 38px;

  @include vp-767 {
    padding-left: $padding-mbl;
    padding-right: $padding-mbl;
  }
}

.gym h2 {
  font-family: $ff-as;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  margin: 0;

  @include vp-1199 {
    font-size: 2.63em;
    letter-spacing: 1.26px;
    padding-top: 0;
    text-align: center;
  }

  @include vp-767 {
    font-size: 2em;
    text-align: start;
  }
}

.gym__title {
  font-family: $ff-rc;
  font-size: 1.13em;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding-top: 9px;

  @include vp-1199 {
    padding-top: 0;
    text-align: center;
  }

  @include vp-767 {
    padding-top: 7px;
    text-align: start;
  }
}

.gym__description {
  font-family: $ff-rc;
  font-size: 1em;
  font-style: normal;
  margin: 0;
  padding-top: 41px;

  @include vp-1199 {
    padding-left: calc((190 / 1920) * 100) + 0%;
    padding-right: calc((190 / 1920) * 100) + 0%;
    padding-top: 35px;
    text-align: center;
  }

  @include vp-767 {
    padding-top: 23px;
    text-align: left;
    padding-right: calc((32 / 320) * 100) + 0%;
    padding-left: 0;
  }
}

.gym__description--second {
  padding-top: 6px;
  margin: 0;

  @include vp-1199 {
    display: none;
  }
}

.gym__intro {
  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
  }

  @include vp-767 {
    padding-bottom: 66px;
  }
}

.gym img {
  margin-left: 77px;
  object-fit: cover;
  position: relative;

  @include vp-1199 {
    width: 678px;
    height: 387px;
    padding-top: 42px;
    margin-left: 0;
  }

  @include vp-767 {
    width: 320px;
    height: 350px;
  }
}

.gym__video {
  width: 364px;
  height: 228px;
  position: absolute;
  top: calc((650 / 1200) * 100) + 0%;
  left: calc((510 / 1200) * 100) + 0%;

  @include vp-1439 {
    top: calc((640 / 1200) * 100) + 0%;
    left: calc((477 / 1200) * 100) + 0%;
  }

  @include vp-1199 {
    width: 266px;
    height: 167px;
    left: calc((320 / 768) * 100) + 0%;
    top: calc((510 / 768) * 100) + 0%;
  }

  @include vp-1023 {
    left: calc((295 / 768) * 100) + 0%;
    top: calc((530 / 768) * 100) + 0%;
  }

  @include vp-799 {
    left: calc((255 / 768) * 100) + 0%;
  }

  @include vp-767 {
    object-fit: cover;
    width: 320px;
    height: 170px;
    margin: auto;
    margin-top: 55px;
    left: 0;
    right: 0;
  }

  // @include vp-374 {
  //   width: 320px;
  //   height: 170px;
  //   top: calc((170 / 320) * 100) + 0%;
  //   left: 0;
  // }
}

.gym__shadow::after {
  position: absolute;
  content: "";
  width: 364px;
  height: 228px;
  background: rgba(20, 54, 122, 0.5);
  top: calc((650 / 1200) * 100) + 0%;
  left: calc((510 / 1200) * 100) + 0%;
  z-index: 2;

  @include vp-1439 {
    top: calc((640 / 1200) * 100) + 0%;
    left: calc((477 / 1200) * 100) + 0%;
  }

  @include vp-1199 {
    width: 266px;
    height: 167px;
    left: calc((320 / 768) * 100) + 0%;
    top: calc((510 / 768) * 100) + 0%;
  }

  @include vp-1023 {
    left: calc((295 / 768) * 100) + 0%;
    top: calc((530 / 768) * 100) + 0%;
  }

  @include vp-799 {
    left: calc((255 / 768) * 100) + 0%;
  }

  @include vp-767 {
    width: 320px;
    height: 170px;
    margin: auto;
    margin-top: 55px;
    left: 0;
    right: 0;
  }

  // @include vp-374 {
  //   width: 320px;
  //   height: 170px;
  //   top: calc((170 / 320) * 100) + 0%;
  //   left: 0;
  // }
}

.gym-play {
  content: "";
  position: absolute;
  top: 474px;
  right: calc((545 / 1200) * 100) + 0%;
  background: transparent;
  border: none;
  background-image: url("../img/svg/video_btn.svg");
  width: 6.25em;
  height: 6.25em;
  z-index: 3;

  @include vp-1799 {
    left: calc((600 / 1200) * 100) + 0%;
  }

  @include vp-1439 {
    top: calc((755 / 1200) * 100) + 0%;
    left: calc((600 / 1200) * 100) + 0%;
  }

  @include vp-1279 {
    top: 483px;
  }

  @include vp-1199 {
    position: absolute;
    width: 4.56em;
    height: 4.56em;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc((555 / 768) * 100) + 0%;
    left: calc((390 / 768) * 100) + 0%;
  }

  @include vp-1023 {
    top: calc((570 / 768) * 100) + 0%;
    left: calc((375 / 768) * 100) + 0%;
  }

  @include vp-799 {
    top: calc((570 / 768) * 100) + 0%;
    left: calc((350 / 768) * 100) + 0%;
  }

  @include vp-767 {
    width: 4em;
    height: 4em;
    background-size: cover;
    margin: auto;
    top: calc((630 / 768) * 100) + 0%;
    left: 0;
    right: 0;
  }

  @include vp-549 {
    width: 4em;
    height: 4em;
    background-size: cover;
    margin: auto;
    left: 0;
    right: 0;
  }

  @include vp-374 {
    width: 4.56em;
    height: 4.56em;
    background-size: cover;
    top: 735px;
    left: 0;
    right: 0;
    margin: auto;
  }

  &:hover {
    background-image: url("../img/svg/video-btn-hover.svg");
  }

  &:active {
    background-image: url("../img/svg/video-btn-active.svg");
  }

  &:disabled {
    background-image: url("../img/svg/video-btn-disabled.svg");
  }
}
