.header__wrapper {
  color: $color-default-white;
  background-color: conic-gradient(from 151deg at 16.03% 39.06%, #003D85 32.23633825778961deg, #B80027 313.3060026168823deg);
  background-image: url("/source/img/background.jpg");
  background-size: cover;
}

.header__intro {
  padding-left: $padding-dst;
  padding-right: $padding-dst;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  gap: 10px;

  // @include vp-1199 {
  //   padding-left: $padding-tbl;
  //   padding-right: $padding-tbl;
  // }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: $padding-mbl;
    padding-right: $padding-mbl;
  }
}

.header__logo {
  margin-top: 9px;
  width: 7.625em;
  height: 1.5em;
  position: relative;

  // @include vp-1199 {
  //   width: 5.125em;
  //   height: 1.0625em;
  // }

  @include vp-767 {
    width: 4.3125em;
    height: 1.5em;
    margin: 0;
  }
}

.header__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__phone {
  padding: 0;
  margin: 0;
  font-family: $ff-as;
  font-size: 1.625em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  // @include vp-1199 {
  //   font-size: 1.5em;
  //   font-weight: 700;
  //   letter-spacing: 0.48px;
  // }

  @include vp-767 {
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin: 0;
  }
}
