.header__wrapper {
  color: $color-default-white;
  background-color: rgb(142, 6, 137);
  background-image: url("../img/background.jpg");
  background-size: cover;

  @include vp-767 {
    background-image: url("../img/background-mbl.jpg");
  }
}

.header__intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
  gap: 880px;

  @include vp-1199 {
    gap: 458px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 0;
    gap: 106px;
  }
}

.header__logo {
  margin-top: 9px;
  width: 7.63em;
  height: 1.5em;
  position: relative;

  @include vp-1199 {
    width: 5.13em;
    height: 1.06em;
  }

  @include vp-767 {
    width: 4.31em;
    height: 1.5em;
    margin: 0;
  }
}

.header__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__phone {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: $ff-as;
  font-size: 1.63em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  @include vp-1199 {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin: 0;
  }
}
