.hero__wrapper {
  position: relative;
  padding-left: calc((155 / 1200) * 100) + 0%;
  padding-right: calc((760 / 1200) * 100) + 0%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: right;

  @include vp-1199 {
    padding-left: $padding-tbl;
    padding-right: calc((395 / 768) * 100) + 0%;
  }

  @include vp-767 {
    padding-right: $padding-mbl;
    padding-left: $padding-mbl;
    text-align: right;
  }
}

.hero__city {
  font-size: 3em;
  font-family: $ff-as;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: calc((205 / 1200) * 100) + 0%;
  padding-top: 98px;
  margin: 0;

  @include vp-1199 {
    padding-right: calc((25 / 768) * 100) + 0%;
    padding-top: 68px;
    font-size: 2.13em;
  }

  @include vp-767 {
    padding-right: 0;
    padding-top: 68px;
    font-size: 1.75em;
  }
}

.hero__title {
  font-family: $ff-as;
  font-size: 5.75em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;
  padding-top: 14px;
  letter-spacing: 4.6px;

  @include vp-1199 {
    padding-top: 5px;
    font-size: 4.5em;
    letter-spacing: 3.6px;
    text-transform: lowercase;
  }

  @include vp-767 {
    padding-top: 15px;
    font-size: 4.5em;
    font-weight: 700;
    padding-right: 0;
  }
}

.hero__list {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: calc((588 / 1200) * 100) + 0%;
  left: calc((110 / 1200) * 100) + 0%;

  @include vp-1199 {
    top: calc((320 / 768) * 100) + 0%;
    left: calc((45 / 768) * 100) + 0%;
  }

  @include vp-767 {
    top: calc((139 / 320) * 100) + 0%;
  }
}

.hero__item {
  padding: 0;
  margin: 0;
  font-family: $ff-rc;
  font-size: 0.88em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero__button {
  color: $color-default-white;
  background: transparent;
  width: 230px;
  font-family: $ff-rc;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border: 4px solid $color-default-white;
  padding: 19px 53px;
  margin-top: calc((180 / 1200) * 100) + 0%;
  margin-bottom: 95px;

  @include hover {
    background-color: $color-default-white;
    color: #103aae;
  }

  &:active {
    background-color: $color-default-white;
    color: #102654;
  }

  &:disabled {
    color: $color-default-white;
    background-color: transparent;
    opacity: 0.5;
  }

  @include vp-1199 {
    padding: 19px 29px;
    width: 187px;
    margin-top: calc((90 / 768) * 100) + 0%;
    margin-bottom: 107px;
  }

  @include vp-767 {
    margin-top: calc((25 / 320) * 100) + 0%;
    margin-bottom: 80px;
    width: 290px;
    text-align: center;
  }
}

.hero img {
  max-width: 50%;
  height: auto;
  position: absolute;
  top: calc((-17 / 1200) * 100) + 0%;
  right: calc((260 / 1200) * 100) + 0%;
  object-fit: cover;

  @include vp-1199 {
    width: 42%;
    height: 79%;
    top: calc((28 / 768) * 100) + 0%;
    right: calc((45 / 768) * 100) + 0%;
  }

  @include vp-767 {
    display: none;
  }
}
