.promo__wrapper {
  padding-left: $padding-dst;
  padding-right: $padding-dst;
  padding-top: 135px;
  padding-bottom: 135px;

}

.promo__title {
  color: #102654;
  font-family: $ff-as;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  margin: 0;
  padding-bottom: 34px;
  text-align: center;
}

.promo__inro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.promo__hit {
  color: $color-default-white;
  font-family: $ff-rc;
  padding-right: 280px;
  position: relative;
  background: #ED0233;
  padding-top: 44px;
  padding-left: 44px;
  padding-bottom: 44px;
}

.promo__hit-header {
  margin: 0;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;

}

.promo__hit-price {
  margin: 0;
  padding-top: 29px;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
}

.promo__hit-description {
  margin: 0;
  padding-top: 42px;
  padding-bottom: 184px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.promo__hit-link {
  padding-top: 213px;
  color: $color-default-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-bottom: 2px solid $color-default-white;

  @include hover {
    opacity: 0.8;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(255, 255, 255, 0.8);
  }

  @mixin focus {
    border: 2px solid $color-default-white;
    color: $color-default-white;
  }

  @include active {
    border-bottom: 2px solid $color-default-white;
    color: $color-default-white;
  }

  &:disabled {
    border-bottom: 2px solid $color-default-white;
    color: $color-default-white;
  }
}


.promo__img {
  width: 52%;
  position: absolute;
  left: 280px;
  top: 0px;
}

.promo__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.promo__item {
  border: 4px solid transparent;
  border-image: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
  border-image-slice: 1;
  color: #1C3374;
  font-family: $ff-rc;
  padding: 32px;
}

.promo__header {
  margin: 0;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.promo__description {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 64px;
}

.promo__link {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #1C3374;
  color: #1C3374;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  @include hover {
    opacity: 0.6;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(28, 51, 116, 0.6);
  }

  @mixin focus {
    border: 2px solid #1C3374;
    color: #1C3374;
  }

  @include active {
    border-bottom: 2px solid #1C3374;
    color: #1C3374;
  }

  &:disabled {
    border-bottom: 2px solid #1C3374;
    color: #1C3374;
  }
}
