.subscription__wrapper {
  padding: 120px $padding-dst  125px $padding-dst;
  background: #F8F9FC;
  color: #102654;
  position: relative;
}
.subscription__header {
  font-family: $ff-as;
  font-size: 3.37em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin: 0;
  letter-spacing: 1.62px;
}

.subscription__controls {
  padding-left: 366px;
  padding-top: 19px;
  padding-left: 0;
  margin: 0;
  position: relative;
  padding-left: calc((404/1200)*100)+0%;
}

.subscription__controls.is-active::after {
  content: "";
  position: absolute;
  width: 341px;
  border-bottom: 2px solid #787878;
  opacity: 0.2;
  bottom: -15px;
  right: calc((420/1200)*100)+0%;
}

.subscription__control::before {
  @include hover {
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 3px;
    content: "";
    opacity: 0;
    border-bottom: 2px solid #2c39f2;
  }

  &:disabled {
    border-bottom: none;
  }
}



.subscription__control {
  padding-left: 38px;
  background: transparent;
  border: none;
  color: rgba(16, 38, 84, 0.50);
  font-family: $ff-rc;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;


  @include hover {
    color: var(--primary, #102654);
    border-bottom: 2px solis #ED0233;
  }

  &:disabled {
    opacity: 0.30000001192092896;
  }
}


.subscription__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: calc((10/1200)*100)+0%;
  padding-left: 0;
  padding-top: 39px;
  margin: 0;
}

.subscription__list::before {
  position: absolute;
  content: url("/source/img/pancakes.png");
  right: 0;
  bottom: calc((-210/1200)*100)+0%;;
}

.subscription__item {
  box-sizing: border-box;
  color: #102654;
  text-align: center;
  font-family: $ff-rc;
  background: $color-default-white;
  padding-top: calc((61/1200)*100)+0%;
  padding-bottom: calc((61/1200)*100)+0%;
  padding-right: calc((70/1200)*100)+0%;
  padding-left: calc((70/1200)*100)+0%;
  margin-top: 10px;
  position: relative;
  border: 4px solid transparent;

  @include hover {
  border: 4px solid transparent;
  border-image: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
  border-image-slice: 1;
  }
}

.subscription__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.625em;
  font-style: normal;
  font-weight: 700;
}

.subscription__time {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  padding-top: 13px;
  margin:0;

}

.subscription__price {
  color: #103AAE;
  font-size: 3.75em;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding-top: 96px;
  position: relative;
  z-index: 3;
  text-align: left;
  padding-left: calc((100/1200)*100)+0%;;
}

.subscription__price--shadow {
  position: absolute;
  color: #E8E8E8;
  opacity: 0.47999998927116394;
  font-family: $ff-rc;
  font-size: 6.25em;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  top: 200px;
}

.subscription__price::after {
  content: "";
  position: absolute;
  background-image: url("/source/img/svg/rubl.svg");
  width: 30px;
  height: 42px;
  top: calc((883/1200)*100)+0%;
  right: calc((113/1200)*100)+0%;
}

.subscription__buttom {
  color: #102654;
  background: $color-default-white;
  width: 206px;
  font-family: $ff-rc;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0375em;
  text-transform: uppercase;
  border: 2px solid #102654;
  padding: 25px 44px;
  margin-top: 68px;

  @include hover {
    background: $gradient;
    color: $color-default-white;
    border: none;
  }

  @include active {
    opacity: 0.699999988079071;
  }

  &:disabled {
    opacity: 0.30000001192092896;
  }
}
