.subscription {
  background: #f8f9fc;
  color: #102654;
  position: relative;
}

.subscription::after {
  position: absolute;
  content: url("../img/pancakes.png");
  right: 0;
  top: 510px;
  z-index: 2;
  overflow-x: hidden;

  @include vp-1199 {
    position: absolute;
    content: url("../img/pancakes-tbl.png");
    top: 1459px;
  }

  @include vp-767 {
    display: none;
  }
}

.subscription__wrapper {
  padding: 122px $padding-dst 119px $padding-dst;

  @include vp-1199 {
    padding: 100px $padding-tbl 100px $padding-tbl;
  }

  @include vp-767 {
    padding-left: $padding-mbl;
    padding-right: $padding-mbl;
    padding-top: 68px;
    padding-bottom: 63px;
  }
}

.subscription__header {
  font-family: $ff-as;
  font-size: 3.37em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin: 0;
  letter-spacing: 1.62px;

  @include vp-1199 {
    font-size: 2.63em;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 2em;
  }
}

.subscription__controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 19px;
  margin: 0;
  gap: 36px;
  position: relative;

  @include vp-1199 {
    padding-top: 22px;
    gap: 44px;
  }
}

.subscription__controls::after {
  content: "";
  position: absolute;
  width: 21.31em;
  border-bottom: 2px solid #787878;
  opacity: 0.2;
  bottom: -17px;

  @include vp-1199 {
    width: 20.75em;
  }

  @include vp-767 {
    width: 18em;
    bottom: -14px;
  }
}

.subscription__control {
  background: transparent;
  border: none;
  color: rgba(16, 38, 84, 0.5);
  font-family: $ff-rc;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;

  @include vp-1199 {
    font-size: 1.13em;
  }

  @include vp-767 {
    font-size: 1em;
    padding: 0;
  }
}

.subscription__control--month.is-active::before {
  content: "";
  position: absolute;
  width: 67px;
  border-bottom: 2px solid #d10a42;
  bottom: -17px;

  @include vp-1199 {
    width: 60px;
  }

  @include vp-767 {
    bottom: -14px;
    width: 55px;
  }

  &:disabled {
    border-bottom: none;
  }
}

.subscription__control--six-month.is-active::before {
  content: "";
  position: absolute;
  width: 87px;
  border-bottom: 2px solid #d10a42;
  bottom: -17px;

  @include vp-1199 {
    width: 80px;
  }

  @include vp-767 {
    width: 70px;
    bottom: -14px;
  }

  &:disabled {
    border-bottom: none;
  }
}

.subscription__control--year.is-active::before {
  content: "";
  position: absolute;
  width: 95px;
  border-bottom: 2px solid #d10a42;
  bottom: -17px;

  @include vp-1199 {
    width: 85px;
  }

  @include vp-767 {
    width: 77px;
    bottom: -14px;
  }

  &:disabled {
    border-bottom: none;
  }
}

.subscription__programs {
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscription__list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc((23 / 1200) * 100) + 0%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 39px;
  margin: 0;
  position: relative;
  z-index: 3;

  @include vp-1439 {
    justify-content: space-around;
  }

  @include vp-1199 {
    flex-direction: column;
    width: 442px;
    padding-top: 48px;
    gap: 30px;
  }

  @include vp-767 {
    padding-top: 41px;
    gap: 16px;
    align-items: center;
  }
}

.subscription__item {
  margin-top: 10px;
  color: #102654;
  text-align: center;
  font-family: $ff-rc;
  background: $color-default-white;
  padding-top: calc((65 / 1200) * 100) + 0%;
  padding-bottom: calc((85 / 1200) * 100) + 0%;
  padding-right: calc((60 / 1200) * 100) + 0%;
  padding-left: calc((60 / 1200) * 100) + 0%;
  border: 7px solid transparent;

  @include hover {
    border: 7px solid transparent;
    border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    border-image-slice: 1;
  }

  @include vp-1199 {
    padding-top: 58px;
    padding-bottom: 84px;
    padding-right: 110px;
    padding-left: 110px;
  }

  @include vp-767 {
    width: 290px;
    padding-top: 45px;
    padding-bottom: 81px;
    padding-right: 33px;
    padding-left: 33px;
  }
}

.subscription__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.63em;
  font-style: normal;
  font-weight: 700;

  @include vp-767 {
    font-size: 1.38em;
  }
}

.subscription__time {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  padding-top: 13px;
  margin: 0;

  @include vp-767 {
    padding-top: 8px;
  }
}

.subscription__price {
  color: #103aae;
  font-size: 3.75em;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding-top: 96px;
  position: relative;
  z-index: 3;
  padding-right: calc((490 / 1200) * 100) + 0%;
  margin-bottom: 90px;

  @include vp-767 {
    font-size: 3em;
    padding-top: 80px;
    padding-left: calc((40 / 320) * 100) + 0%;
    margin-bottom: 71px;
  }
}

.subscription__shadow {
  position: absolute;
  color: #e8e8e8;
  opacity: 0.48;
  font-family: $ff-rc;
  font-size: 6.25em;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  top: 247px;

  @include vp-767 {
    font-size: 5em;
    padding-left: 15px;
  }
}

.subscription__shadow--first {
  @include vp-1199 {
    position: absolute;
    top: 257px;
  }

  @include vp-767 {
    top: 217px;
  }
}

.subscription__shadow--second {
  @include vp-1199 {
    position: absolute;
    top: 743px;
  }

  @include vp-767 {
    top: 634px;
  }
}

.subscription__shadow--third {
  @include vp-1199 {
    position: absolute;
    top: 1232px;
  }

  @include vp-767 {
    top: 1054px;
  }
}

.subscription__price::after {
  content: "";
  position: absolute;
  background-image: url("../img/svg/rubl.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 42px;
  top: calc((883 / 1200) * 100) + 0%;
  right: calc((113 / 1200) * 100) + 0%;

  @include vp-767 {
    background-image: url("../img/svg/ruble-tbl.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 33px;
    top: calc((227 / 320) * 100) + 0%;
    right: calc((52 / 320) * 100) + 0%;
  }
}

.subscription__buttom {
  color: #102654;
  background: $color-default-white;

  font-family: $ff-rc;
  font-size: 0.75em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border: 2px solid #102654;
  padding: 25px 44px;

  @include hover {
    background: $gradient;
    color: $color-default-white;
    border-width: 2px;
    border-style: solid;
    border-color: $gradient;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.3;
  }
}
